[core]
pager = less -q -R
excludesfile = ~/.gitignore
preloadindex = true

[color]
ui = auto


[alias]
br = branch
ci = commit
cm = commit -m

# Amend the currently staged files to the latest commit
amend = commit --amend --reuse-message=HEAD

co = checkout
cb = checkout -b
cb = checkout -B
d = diff
df = diff
dc = diff --cached
f = fetch --prune
lg = log --graph --decorate
undo = reset --soft HEAD^
s = status --short
st = status
sb = submodule
su = submodule update
sur = submodule update --recursive
stash-all = stash save --include-untracked
glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

# Show user name of remote repository
owner = "!f() { git remote get-url ${1:-origin} | cut -d: -f2 | cut -d/ -f1; }; f"

# Launch browser and open page for creating a new pull request
pr = "!f() { \
        local source_user; \
        source_user=$(git config --get user.name); \
        git remote -v | grep -q ${source_user}; \
        if [[ ! $? ]]; then \
          source_user=origin; \
        fi; \
        local current_branch; \
        current_branch=$(git rev-parse --abbrev-ref HEAD); \
        git push -f ${source_user} ${current_branch}; \
        hub browse -- pull/$(git owner ${1:-origin}):${2:-develop}...${source_user}:${current_branch}; \
      }; f"

# Move to top-level directory of current repository
root = "!cd $(git rev-parse --show-toplevel)"

# Show the size of current repository
size = "!f() { \
          local root_dir; \
          root_dir=$(git rev-parse --show-toplevel); \
          du -sh ${root_dir} ${root_dir}/.git; \
        }; f"

[help]
autocorrect = 1

[status]
showUntrackedFiles = all

[push]
default = simple
followTags = true

[diff]
tool = icdiff
[difftool]
prompt = false
[difftool "icdiff"]
cmd = /usr/local/bin/icdiff --line-numbers $LOCAL $REMOTE

[pager]
log  = diff-highlight | less -RX
show = diff-highlight | less -RX
diff = diff-highlight | less -RX

[include]
path = ~/.gitconfig.secret

[merge]
ff = only
conflictstyle = diff3

[merge "mergepbx"]
name = Xcode project files merger
driver = mergepbx %O %A %B

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
